
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
}

.button{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
    margin: 5px;
    outline: none;
}
.button:active, .button:focus {
    outline: none !important;
}
.button::-moz-focus-inner {
    border: 0 !important;
}

.pagination li:first-child button{
    background-color: red;
}
@media screen and (max-width: 700px){
    .pagination{
        flex-wrap: wrap;
    }

}