.wrapper{
    display: flex;
    font-size: 25px;
    background-color: black;
    color: white;
}

.mapWrapper {
    position: relative;
    width: 47%;
    height: 90vh;
    margin: 20px;
}
.info{
    width: 47%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.schedule__info{
    list-style: none;
    padding-left: 50px;
}
.person__photo{
    height: 300px;
    width: 300px;
    border-radius: 100px;
}
.we{
    padding-bottom: 30px;
    padding-top: 30px;
}
.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.teamWrapper{
    color: #f1f1f1;
    background-color: black;
}
.team__person{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person__position{
    font-size: 20px;
}
.contacts{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
}
.contacts__contact{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts__contact i{
    padding-bottom: 20px;
    font-size: 50px;
}
.info__schedule{
    padding: 10px;
    border: white solid 4px;
}