.fa-bars{
    height: 54px;
    width: 54px;
    color: #f1f1f1;
    font-size: 50px;
    display: inherit;
}
.navButton{
    padding-left: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    z-index: 11;
    display: none;
}

@media screen and (max-width: 700px) {
    .navButton{
        display: inherit;
    }
}