.wrapper{
    border-top: #f1f1f1 2px solid;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
}
.links{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1rem;
}
.links a{
    padding-right: 10px;
    color:  white;
    font-size: 20px;
}
.privacyPolisy{
    padding-left: 10px;
}
@media screen and (max-width: 700px){
    .wrapper{
        padding-top: 20px;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}